extends layout

block content
  div.home-hero
    h1= title
    p Welcome to #{title} <br><br><br>
      a.action-button(href='/users/signup') Sign up
      a.action-button(href='/users/login') Login

